# --- Python Cache & Environments ---
__pycache__/
venv/
*.venv
edi_env/
assets/
TEMP/

# --- Secret Keys ---
*.env
.env

# --- Large AI Models ---
# (These are too big for GitHub)
*.h5
*.h5.
*.hdf5
*.joblib

# --- VS Code & OS Junk ---
.vscode/
.DS_Store

# --- Datasets ---
# (You should tell people to download this separately)
New Plant Diseases Dataset(Augmented)/