Ignore Python's cache files
pycache/

Ignore virtual environments
venv/
*.venv

Ignore the big saved model files
*.h5
*.joblib

--- IGNORE ALL DATASETS ---
We'll tell people where to download this in the README
*.csv
New Plant Diseases Dataset(Augmented)/

--- IGNORE VS CODE JUNK ---
.vscode/
tempCodeRunnerFile.py

Ignore local asset folders (like library images)
assets/